<quiz-home-cards title="Hãy thử các tính năng cập nhật này">
  <quiz-recommended-feature
    [bgColor]="RecommendedFeatureBgColor.PRIMARY"
    [bgImage]="RecommendedFeatureBgImage.HomeCarouselSearching"
    headline="Tìm kiếm mạnh mẽ hơn"
    content="Tìm thẻ ghi nhớ bạn cần để học về bất kỳ chủ đề nào"
  ></quiz-recommended-feature>
  <quiz-recommended-feature
    [bgColor]="RecommendedFeatureBgColor.SECONDARY"
    [bgImage]="RecommendedFeatureBgImage.HomeCarouselImproving"
    headline="Hãy sẵn sàng cho kỳ thi"
    content="Kiểm tra với gợi ý và chỉ dẫn học được tăng cường AI"
  ></quiz-recommended-feature>
  <quiz-recommended-feature
    [bgColor]="RecommendedFeatureBgColor.PRIMARY"
    [bgImage]="RecommendedFeatureBgImage.HomeCarouselAchievement"
    headline="Cải thiện điểm số với chế độ Học"
    content="Học với các câu hỏi hay hơn, kiểm soát nhiều hơn, và gợi ý"
  ></quiz-recommended-feature>
</quiz-home-cards>
