<quiz-home-cards
  title="Hãy thử các tính năng cập nhật này"
  [rows]="recommendedFeatures"
  [templateRef]="recommendedFeatureItem"
  [tablePage]="{
    size: 3,
    totalElements: 3,
    number: 1
  }"
>
  <ng-template #recommendedFeatureItem let-recommendedFeature>
    <quiz-recommended-feature
      [bgColor]="recommendedFeature.bgColor"
      [bgImage]="recommendedFeature.bgImage"
      [headline]="recommendedFeature.headline"
      [content]="recommendedFeature.content"
    ></quiz-recommended-feature>
  </ng-template>
</quiz-home-cards>
