<section class="px-80 py-5">
  <div class="flex items-center justify-between">
    <p class="text-2xl font-bold">Tạo học phần mới</p>
    <ui-button [type]="ButtonType.SECONDARY">Tạo</ui-button>
  </div>
  <form class="mt-10" [formGroup]="createSetForm">
    <div>
      <label>Tiêu đề</label>
      <ui-textfield
        placeholder="Nhập tiêu đề ở đây"
        [control]="createSetForm.controls.title"
      ></ui-textfield>
    </div>
    <div class="flex gap-4 mt-4">
      <div class="flex-1">
        <label>Mô tả</label>
        <ui-textarea
          placeholder="Thêm mô tả ở đây"
          [control]="createSetForm.controls.description"
        ></ui-textarea>
      </div>
      <div class="flex-1">
        <label>Tên trường</label>
        <ui-textfield
          placeholder="Nhập tên trường ở đây"
          [control]="createSetForm.controls.schoolName"
        ></ui-textfield>
        <label>Môn học</label>
        <ui-textfield
          placeholder="Nhập môn học ở đây"
          [control]="createSetForm.controls.subjectName"
        ></ui-textfield>
      </div>
    </div>
  </form>

  <div class="flex mt-4 items-center justify-between">
    <div class="flex gap-4">
      <ui-button
        svgIcon="plus-o"
        [type]="ButtonType.TRANSPARENT"
        [size]="ButtonSize.SMALL"
        >Nhập</ui-button
      >
      <ui-button
        svgIcon="plus-o"
        [type]="ButtonType.TRANSPARENT"
        [size]="ButtonSize.SMALL"
        >Thêm hồ sơ</ui-button
      >
      <ui-button
        svgIcon="file-text-o"
        [type]="ButtonType.TRANSPARENT"
        [size]="ButtonSize.SMALL"
        >Tạo ghi chú</ui-button
      >
    </div>

    <div class="flex gap-4">
      <ui-icon-button
        svgIcon="setting-f"
        [type]="ButtonType.TRANSPARENT"
        [size]="ButtonSize.SMALL"
      ></ui-icon-button>
      <ui-icon-button
        svgIcon="retweet-o"
        [type]="ButtonType.TRANSPARENT"
        [size]="ButtonSize.SMALL"
      ></ui-icon-button>
      <ui-icon-button
        svgIcon="code-o"
        [type]="ButtonType.TRANSPARENT"
        [size]="ButtonSize.SMALL"
      ></ui-icon-button>
    </div>
  </div>

  <div class="mt-4" cdkDropList (cdkDropListDropped)="drop($event)">
    <div class="mt-4" *ngFor="let term of terms" cdkDrag>
      <ui-card>
        <div
          class="flex justify-between items-center border-b-2 border-primary"
        >
          <p>{{ term }}</p>
          <div>
            <ui-icon-button
              cdkDragHandle
              svgIcon="holder-o"
              [type]="ButtonType.TRANSPARENT"
              [size]="ButtonSize.SMALL"
            ></ui-icon-button>
            <ui-icon-button
              svgIcon="delete-o"
              [type]="ButtonType.TRANSPARENT"
              [size]="ButtonSize.SMALL"
            ></ui-icon-button>
          </div>
        </div>
        <div class="flex gap-4 mt-4 items-center">
          <div class="flex-1">
            <ui-textfield
              styleVariant="CARD"
              [control]="createSetForm.controls.description"
            ></ui-textfield>
            <div class="flex justify-between items-center">
              <p class="text-sm">THUẬT NGỮ</p>
              <ui-button
                [type]="ButtonType.LINK"
                [size]="ButtonSize.SMALL"
                [uiPopover]="popover"
                >CHỌN NGÔN NGỮ</ui-button
              >
            </div>
          </div>
          <div class="flex-1">
            <ui-textfield
              styleVariant="CARD"
              [control]="createSetForm.controls.description"
            ></ui-textfield>
            <div class="flex justify-between items-center">
              <p class="text-sm">ĐỊNH NGHĨA</p>
              <ui-button
                [type]="ButtonType.LINK"
                [size]="ButtonSize.SMALL"
                [uiPopover]="popover"
                >CHỌN NGÔN NGỮ</ui-button
              >
            </div>
          </div>
          <div
            class="border-dashed border-white border-2 w-24 h-16 flex items-center justify-center cursor-pointer"
          >
            Image
          </div>
        </div>
      </ui-card>
    </div>
    <div class="mt-4">
      <ui-card>
        <ui-button
          svgIcon="plus-o"
          [type]="ButtonType.LINK"
          [size]="ButtonSize.LARGE"
          >THÊM THẺ</ui-button
        >
      </ui-card>
    </div>
  </div>

  <div class="mt-4 flex flex-row-reverse">
    <ui-button [size]="ButtonSize.LARGE">Tạo</ui-button>
  </div>
</section>

<ui-popover
  #popover
  [items]="mockedPopoverLanguages"
  (uiItemClick)="handleLanguageSelection($event)"
>
</ui-popover>
