<div class="flex space-x-4">
  <ng-container *ngFor="let appMenu of navbarList; let idx = index">
    <quiz-navbar-item
      *ngIf="appMenu.template"
      [uiMenu]="popover"
      (click)="openNavbarTemplate(appMenu, idx)"
      [title]="appMenu.title"
      [isActive]="idx === idxActiveNavBar"
    ></quiz-navbar-item>
    <quiz-navbar-item
      *ngIf="appMenu.link"
      (click)="handleActiveNavbar(idx)"
      [routerLink]="[appMenu.link]"
      [title]="appMenu.title"
      [isActive]="idx === idxActiveNavBar"
    ></quiz-navbar-item>
  </ng-container>
</div>
<quiz-menu #popover>
  <ng-template #dynamicMenu></ng-template>
</quiz-menu>
